{% extends 'base.html.twig' %}

{% block title %}Kaplekar !
{% endblock %}

{% block body %}
	<center>
		<h1>Bienvenue chez Kaprekar</h1>


		<h1>
			<a href="calculs">Calculs</a>
		</h1>


	</center>
{% endblock %}
